body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    display: flex;
    border-bottom: 1px solid #AE7C78;
    border-top: 1px solid #AE7C78;
    margin-bottom: 82px;
 
}
.header .container {
    border: none;
    margin-bottom: 0px;
}
.header__items {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    }

.header__items li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}

.header__item:not(:last-child) {
    margin-right: 110px;
}

.first .container {
    margin-top: 82px;
    margin-bottom: 113px;
}

.first_heading {
    font-family: 'Playfair Display Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
    /* padding-bottom: 24px; */
}

.first_text {
    font-family: 'Playfair Display Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
    padding-bottom: 64px;
}

.first img {
    width: 698px; 
    height: 420px;
    float:right;
    margin-left: 118px;   
}

.welcome__link:hover {
    background-color: white;
    color: #D89999;
    border: 1px solid #D89999;
}

.buttom {
    background: #D89999;
    border-radius: 40px;
    color: white;
    padding: 30px 70px;
    margin-top: 64px;
}

.clear {
    clear: both;
  }

.benefits  {
    display: flex;
    justify-content: space-between;
    flex-wrap: row;
    margin-top: 117px;
}

.benefit {
    width: 400px;
}

.benefit img {
    float:left;
    padding: 29px;
}

.benefit .text {
    width: 285px;
    font-family: 'Montserrat Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.benefit h3 {
    font-family: 'Montserrat Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
    padding-bottom: 8pxs;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.popular_heading {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #AE7C78;
    margin-top: 53px;
    text-align: center;
}

.popular_item {
    max-width: 794px;
    margin-left: auto;
    margin-right: auto;
}

.popular_item {
    margin-top: 36px;
}

.popular_item img {
    float: right;
    width: 387px;
    height: 438px
}

.popular_name {
    padding-top: 27px;
    margin-right: 179px;
    margin-bottom:20px;
    font-family: 'Montserrat Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.popular_description {
    font-family: 'Montserrat Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    color: #AE7C78;
    margin-right: 20px;
    width: 387px;
    height: auto;
    margin-bottom: 24px;
}

.popular_size {
    font-family: 'Montserrat Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    color: #AE7C78;
    margin-right: 321px;
    margin-bottom: 24px; 
}

.popular_price {
    margin-right: 288px;
    margin-bottom: 64px;
    font-family: 'Montserrat Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78; 
}

.offers.container {
    margin-top: 64px;
    margin-bottom: 94px;
}
.offer {
    background-color: #AE7C78;
}

.offers_flowers img{
    float: right;
    width: 590px;
    height: 391px
}

.offers_heading {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    color: #FFFFFF;

    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 102px;
}

.offers_heading h1 {
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.offers_text {
    font-family: 'Monserrat Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 387px;
    padding-left: 102px;
    padding-right: 121px;
    padding-bottom: 64px;
}

.reviews_heading {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #AE7C78;
    margin-top: 40px;
}

.reviews.container {
    border: 1px solid #AE7C78;
}

.reviewss {
    display: flex;
    justify-content: space-between;
    flex-wrap: row;
    margin-top: 40px;
    margin-bottom: 64px;
    margin-left: 40px;
    margin-right: 40px;
}

.review {
    width: 300px;
}

.review t{
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}

.review h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
    margin-top: 16px;
    text-align: center;
}

.footer {
    background-color: #AE7C78;
    height: 97px;
    margin-top: 72px;
}

.footer__items {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 47px;
    }

.footer__items li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.footer_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF; 
}

.footer__item:not(:last-child) {
    margin-right: 68px;
}