.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    border: 1px solid rgb(84, 129, 106);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item img{
    max-height: 100px;
    max-width: 100px;
}

a{
    display: block;
    background-color: rgb(42, 63, 52);
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 2.5px;
    padding: 10px;
}